/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("http://fonts.googleapis.com/css?family=Raleway:200,300,400,700");
/* line 5, ../../../../../../RUBY21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../RUBY21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../RUBY21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../RUBY21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../RUBY21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../RUBY21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../RUBY21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../RUBY21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../RUBY21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../scss/utilities/_helpers.scss */
.icon-toggle:before {
  display: block;
  content: '';
  position: absolute;
}

/* line 10, ../scss/utilities/_helpers.scss */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* line 2, ../scss/base/_base.scss */
.srt {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

/* line 6, ../scss/base/_base.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #435a6b;
}
/* line 12, ../../../../../../RUBY21/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 13, ../scss/base/_base.scss */
section {
  display: block;
  padding: 3em 0;
  background: #ffffff;
}

/* line 21, ../scss/base/_base.scss */
.inner {
  margin-left: 16.66667%;
  margin-right: 16.66667%;
}

/* line 26, ../scss/base/_base.scss */
header {
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  background: #0888F0;
}
/* line 33, ../scss/base/_base.scss */
header svg {
  fill: #ffffff;
}
/* line 35, ../scss/base/_base.scss */
header svg:hover {
  fill: #FAF843;
}

/* line 42, ../scss/base/_base.scss */
nav {
  display: block;
  background: #0888F0;
  margin: 1em auto;
  padding: 3em 0;
  text-align: center;
}
/* line 48, ../scss/base/_base.scss */
nav a {
  color: #73befa;
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin: .875em 2em;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1.125em;
}
/* line 58, ../scss/base/_base.scss */
nav a span {
  color: #73befa;
}
/* line 61, ../scss/base/_base.scss */
nav a::before, nav a::after {
  color: #FAF843;
}
/* line 64, ../scss/base/_base.scss */
nav a:hover, nav a:focus {
  color: #ffffff;
}
/* line 66, ../scss/base/_base.scss */
nav a:hover::before, nav a:hover::after, nav a:focus::before, nav a:focus::after {
  color: #FAF843;
}

/* line 81, ../scss/base/_base.scss */
a {
  font-weight: 400;
  text-decoration: none;
  outline: none;
}

/* line 93, ../scss/base/_base.scss */
h3 {
  font-weight: 300;
  font-size: em(30px);
  line-height: 1.09524;
  margin-bottom: em(70px, 42px);
}

/* line 99, ../scss/base/_base.scss */
h4 {
  font-weight: 300;
  font-size: em(24px);
  line-height: 1.09524;
  margin-bottom: em(70px, 42px);
}

/* line 106, ../scss/base/_base.scss */
p {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.65;
}

/* line 111, ../scss/base/_base.scss */
.body-copy {
  font-weight: 300;
  font-family: "Droid Serif", Lucida, Georgia, serif;
  color: #435a6b;
  letter-spacing: .03em;
  font-style: italic;
}

/* line 119, ../scss/base/_base.scss */
.site-logo {
  margin: 2em auto;
  background-image: url("../img/silencekillsdesignlogoOL.svg");
  background-repeat: no-repeat;
  width: 80px;
  height: 144px;
  display: inline-block;
}

/* line 124, ../scss/base/_base.scss */
.icon-toggle {
  width: 40px;
  height: 18px;
  position: absolute;
  border-top: solid 3px #748387;
  border-bottom: solid 3px #748387;
}
/* line 4, ../scss/utilities/_mixins.scss */
.icon-toggle:before {
  width: 40px;
  height: 3px;
  background: #748387;
  top: 7px;
}

/* line 48, ../scss/utilities/_mixins.scss */
.btn--default {
  background-color: #333a40;
}
/* line 48, ../scss/utilities/_mixins.scss */
.btn--success {
  background-color: #5EE569;
}
/* line 48, ../scss/utilities/_mixins.scss */
.btn--error {
  background-color: #FF4D67;
}
/* line 48, ../scss/utilities/_mixins.scss */
.btn--warning {
  background-color: #FAF843;
}
/* line 48, ../scss/utilities/_mixins.scss */
.btn--info {
  background-color: #6357d0;
}

/* line 2, ../scss/modules/_extends.scss */
h1, .blog-section .blog-item .blog-caption h2, .blog-section figure figcaption h3 {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: .25em;
}

/* line 11, ../scss/modules/_extends.scss */
h2 {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: .5em;
}

/* NEEDS FIXED FOR SASS

//Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links

.rollup-nav a {
line-height: 44px;
@include perspective(1000px);
& span {
position: relative;
background-color: lighten($kabluey, 10);
padding: 0 14px;
background: #2195de;
@include transition(transform, .3s);
@include transform-origin(50%, 0);
@include transform-style(preserve-3d);
&::before {
position: absolute;
top: 100%;
left: 0;
width: 100%;
height: 100%;
background-color: darken($kabluey, 15);
content: attr(data-hover);
@include transition(background, .3s);
@include transform(rotateX(-90deg));
@include transform-origin(50%, 0);
}
}
&:hover span, &:focus span {
@include rotateX(90deg);
@include translateY(-22px);
&::before {
background-color: lighten($kabluey, 20);
}
}
}
*/
/* line 136, ../scss/modules/_nav.scss */
nav a {
  margin: 0 10px;
  padding: 10px 20px;
}
/* line 139, ../scss/modules/_nav.scss */
nav a::before, nav a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FAF843;
  content: '';
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 149, ../scss/modules/_nav.scss */
nav a::after {
  width: 2px;
}
/* line 153, ../scss/modules/_nav.scss */
nav a:hover::before, nav a:focus::before {
  top: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 157, ../scss/modules/_nav.scss */
nav a:hover::after, nav a:focus::after {
  height: 100%;
}

/* line 166, ../scss/modules/_nav.scss */
.sandwich-slide-nav a::before, .sandwich-slide-nav a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FAF843;
  content: '';
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transform: scale(0.85, 0.85);
  -ms-transform: scale(0.85, 0.85);
  -webkit-transform: scale(0.85, 0.85);
  transform: scale(0.85, 0.85);
}

/* line 178, ../scss/modules/_nav.scss */
.sandwich-slide-nav a {
  padding: 11px 10px 10px;
  font-weight: 400;
}
/* line 185, ../scss/modules/_nav.scss */
.sandwich-slide-nav a:hover::before, .sandwich-slide-nav a:hover::after, .sandwich-slide-nav a:focus::before, .sandwich-slide-nav a:focus::after {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 188, ../scss/modules/_nav.scss */
.sandwich-slide-nav a:hover::after, .sandwich-slide-nav a:focus::after {
  top: 0;
  opacity: 1;
}

/* line 198, ../scss/modules/_nav.scss */
.box-float-nav a::before, .box-float-nav a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(250, 248, 67, 0.3);
  content: '';
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

/* line 209, ../scss/modules/_nav.scss */
.box-float-nav a {
  padding: 12px 20px;
}
/* line 214, ../scss/modules/_nav.scss */
.box-float-nav a::after {
  border: 3px solid #faf843;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translate(6px, -7px);
  -ms-transform: translate(6px, -7px);
  -webkit-transform: translate(6px, -7px);
  transform: translate(6px, -7px);
}
/* line 221, ../scss/modules/_nav.scss */
.box-float-nav a:hover::before, .box-float-nav a:focus::before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translate(-5px, 5px);
  -ms-transform: translate(-5px, 5px);
  -webkit-transform: translate(-5px, 5px);
  transform: translate(-5px, 5px);
}
/* line 225, ../scss/modules/_nav.scss */
.box-float-nav a:hover::after, .box-float-nav a:focus::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

/* line 236, ../scss/modules/_nav.scss */
.detail-text-nav a::before, .detail-text-nav a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #FAF843;
  content: '';
  opacity: 0.2;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 249, ../scss/modules/_nav.scss */
.detail-text-nav a {
  margin: 0 20px;
  padding: 18px 20px;
  color: #73befa;
}
/* line 256, ../scss/modules/_nav.scss */
.detail-text-nav a::after {
  top: 100%;
  opacity: 0;
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
/* line 262, ../scss/modules/_nav.scss */
.detail-text-nav a span:first-child {
  z-index: 2;
  display: block;
  font-weight: 300;
}
/* line 267, ../scss/modules/_nav.scss */
.detail-text-nav a span:last-child {
  z-index: 1;
  display: block;
  padding: 8px 0 0;
  color: white;
  text-transform: none;
  font-style: italic;
  font-size: 0.75em;
  font-family: "Droid Serif", Lucida, Georgia, serif;
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
/* line 282, ../scss/modules/_nav.scss */
.detail-text-nav a:hover::before, .detail-text-nav a:hover::after, .detail-text-nav a:hover span:last-child, .detail-text-nav a:focus::before, .detail-text-nav a:focus::after, .detail-text-nav a:focus span:last-child {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
/* line 286, ../scss/modules/_nav.scss */
.detail-text-nav a:hover::before, .detail-text-nav a:focus::before {
  height: 6px;
}
/* line 289, ../scss/modules/_nav.scss */
.detail-text-nav a:hover span:first-child, .detail-text-nav a:focus span:first-child {
  color: #ffffff;
}

/* line 296, ../scss/modules/_nav.scss */
.slide-white-nav {
  position: relative;
  z-index: 1;
}
/* line 299, ../scss/modules/_nav.scss */
.slide-white-nav a {
  overflow: hidden;
  margin: 0 15px;
}
/* line 302, ../scss/modules/_nav.scss */
.slide-white-nav a span {
  display: block;
  padding: 10px 20px;
  color: #73befa;
  background: #077ad7;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 309, ../scss/modules/_nav.scss */
.slide-white-nav a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  background: #FAF843;
  color: #ffffff;
  content: attr(data-hover);
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 323, ../scss/modules/_nav.scss */
.slide-white-nav a:hover span, .slide-white-nav a:focus span {
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
/* line 326, ../scss/modules/_nav.scss */
.slide-white-nav a:hover::before, .slide-white-nav a:focus::before {
  color: #ffffff;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* line 335, ../scss/modules/_nav.scss */
.lea-verou-nav a {
  padding: 10px 0;
  border-top: 2px solid #73befa;
  color: #73befa;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 340, ../scss/modules/_nav.scss */
.lea-verou-nav a::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px 0;
  max-width: 0;
  border-bottom: 2px solid rgba(250, 248, 67, 0.3);
  color: #ffffff;
  content: attr(data-hover);
  -moz-transition: max-width 0.5s;
  -o-transition: max-width 0.5s;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}
/* line 353, ../scss/modules/_nav.scss */
.lea-verou-nav a:hover::before, .lea-verou-nav afocus::before {
  max-width: 100%;
  border-bottom: 2px solid #FAF843;
}

/* line 365, ../scss/modules/_nav.scss */
.circle-back-nav a::before, .circle-back-nav a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(250, 248, 67, 0.2);
  border-radius: 50%;
  content: '';
  opacity: 0;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -moz-transform: translate(-50%, -50%) scale(0.2);
  -ms-transform: translate(-50%, -50%) scale(0.2);
  -webkit-transform: translate(-50%, -50%) scale(0.2);
  transform: translate(-50%, -50%) scale(0.2);
}

/* line 383, ../scss/modules/_nav.scss */
.circle-back-nav a::after {
  width: 90px;
  height: 90px;
  border-width: 6px;
  -moz-transform: translate(-50%, -50%) scale(0.8);
  -ms-transform: translate(-50%, -50%) scale(0.8);
  -webkit-transform: translate(-50%, -50%) scale(0.8);
  transform: translate(-50%, -50%) scale(0.8);
}
/* line 391, ../scss/modules/_nav.scss */
.circle-back-nav a:hover::before, .circle-back-nav a:hover::after, .circle-back-nav a:focus::before, .circle-back-nav a:focus::after {
  opacity: 1;
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

/* line 400, ../scss/modules/_nav.scss */
.three-dots-nav a {
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 402, ../scss/modules/_nav.scss */
.three-dots-nav a::before {
  position: absolute;
  top: 100%;
  left: 50%;
  content: '.';
  font-size: 1.7em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  text-shadow: 0 0 0 transparent;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
/* line 415, ../scss/modules/_nav.scss */
.three-dots-nav a:hover::before, .three-dots-nav a:focus::before {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  text-shadow: #FAF843 10px 0, #FAF843 -10px 0;
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  top: 80%;
}

/* line 429, ../scss/modules/_nav.scss */
.flying-chopsticks-nav a::before, .flying-chopsticks-nav a::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background: #ffffff;
  content: '';
  opacity: .2;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 439, ../scss/modules/_nav.scss */
.flying-chopsticks-nav a {
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
}
/* line 443, ../scss/modules/_nav.scss */
.flying-chopsticks-nav a::before {
  top: 0;
  left: 0;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform-origin: 0 0 50%;
  -ms-transform-origin: 0 0 50%;
  -webkit-transform-origin: 0 0 50%;
  transform-origin: 0 0 50%;
}
/* line 450, ../scss/modules/_nav.scss */
.flying-chopsticks-nav a::after {
  right: 0;
  bottom: 0;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform-origin: 100% 0 50%;
  -ms-transform-origin: 100% 0 50%;
  -webkit-transform-origin: 100% 0 50%;
  transform-origin: 100% 0 50%;
}
/* line 458, ../scss/modules/_nav.scss */
.flying-chopsticks-nav a:hover::before, .flying-chopsticks-nav a:focus::before {
  opacity: 1;
  left: 50%;
  -moz-transform: rotate(0deg) translateX(-50%);
  -ms-transform: rotate(0deg) translateX(-50%);
  -webkit-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%);
}
/* line 463, ../scss/modules/_nav.scss */
.flying-chopsticks-nav a:hover::after, .flying-chopsticks-nav a:focus::after {
  opacity: 1;
  right: 50%;
  -moz-transform: rotate(0deg) translateX(50%);
  -ms-transform: rotate(0deg) translateX(50%);
  -webkit-transform: rotate(0deg) translateX(50%);
  transform: rotate(0deg) translateX(50%);
}

/* line 473, ../scss/modules/_nav.scss */
.shrink-back-nav a {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 700;
}
/* line 476, ../scss/modules/_nav.scss */
.shrink-back-nav a::before {
  color: #ffffff;
  content: attr(data-hover);
  position: absolute;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 483, ../scss/modules/_nav.scss */
.shrink-back-nav a:hover::before, .shrink-back-nav a:focus::before {
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  opacity: 0;
}

/* line 491, ../scss/modules/_nav.scss */
.cl-effect-16 a {
  color: #738888;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
/* line 494, ../scss/modules/_nav.scss */
.cl-effect-16 a::before {
  color: #ffffff;
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  text-shadow: rgba(255, 255, 255, 0.3) 0 0 1px;
  -moz-transform: rotate(4deg) scale(1.1) translate(10px, -10px);
  -ms-transform: rotate(4deg) scale(1.1) translate(10px, -10px);
  -webkit-transform: rotate(4deg) scale(1.1) translate(10px, -10px);
  transform: rotate(4deg) scale(1.1) translate(10px, -10px);
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  pointer-events: none;
}
/* line 505, ../scss/modules/_nav.scss */
.cl-effect-16 a:hover::before, .cl-effect-16 a:focus::before {
  -moz-transform: rotate(0) scale(1) translate(0, 0);
  -ms-transform: rotate(0) scale(1) translate(0, 0);
  -webkit-transform: rotate(0) scale(1) translate(0, 0);
  transform: rotate(0) scale(1) translate(0, 0);
  opacity: 1;
}

/* line 513, ../scss/modules/_nav.scss */
.cl-effect-17 a {
  color: #07466e;
  padding: 10px 0;
}
/* line 516, ../scss/modules/_nav.scss */
.cl-effect-17 a::before {
  color: #ffffff;
  text-shadow: rgba(255, 255, 255, 0.3) 0 0 1px;
  content: attr(data-hover);
  position: absolute;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
/* line 524, ../scss/modules/_nav.scss */
.cl-effect-17 a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  opacity: 0;
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
/* line 538, ../scss/modules/_nav.scss */
.cl-effect-17 a:hover::before, .cl-effect-17 a:focus::before {
  opacity: 0;
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
/* line 542, ../scss/modules/_nav.scss */
.cl-effect-17 a:hover::after, .cl-effect-17 a:focus::after {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* line 554, ../scss/modules/_nav.scss */
.x-out-nav a::before, .x-out-nav a::after {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  background: #3c30ab;
  content: '';
  z-index: -1;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  pointer-events: none;
}

/* line 568, ../scss/modules/_nav.scss */
.x-out-nav {
  position: relative;
  z-index: 1;
  margin: 1em 0;
  padding: 3em 0;
}
/* line 573, ../scss/modules/_nav.scss */
.x-out-nav.sticky {
  position: fixed;
}
/* line 576, ../scss/modules/_nav.scss */
.x-out-nav a {
  padding: 0 6px;
  color: #64b7fa;
  font-weight: 700;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 581, ../scss/modules/_nav.scss */
.x-out-nav a::before {
  -moz-transform: translateY(-18px);
  -ms-transform: translateY(-18px);
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
}
/* line 585, ../scss/modules/_nav.scss */
.x-out-nav a::after {
  -moz-transform: translateY(18px);
  -ms-transform: translateY(18px);
  -webkit-transform: translateY(18px);
  transform: translateY(18px);
}
/* line 589, ../scss/modules/_nav.scss */
.x-out-nav a:hover, .x-out-nav a:focus {
  color: #ffffff;
}
/* line 591, ../scss/modules/_nav.scss */
.x-out-nav a:hover::before, .x-out-nav a:focus::before {
  opacity: 0.7;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 595, ../scss/modules/_nav.scss */
.x-out-nav a:hover::after, .x-out-nav a:focus::after {
  opacity: 0.7;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 643, ../scss/modules/_nav.scss */
.cl-effect-20 a {
  line-height: 2em;
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  perspective: 800px;
}
/* line 646, ../scss/modules/_nav.scss */
.cl-effect-20 a span {
  position: relative;
  display: inline-block;
  padding: 3px 15px 0;
  background: #4d677c;
  -moz-box-shadow: inset 0 3px #1c262d;
  -webkit-box-shadow: inset 0 3px #1c262d;
  box-shadow: inset 0 3px #1c262d;
  -moz-transition: background 0.6s;
  -o-transition: background 0.6s;
  -webkit-transition: background 0.6s;
  transition: background 0.6s;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-origin: 0 50% 0 3d-only 50%;
  -ms-transform-origin: 0 50% 0 3d-only 50%;
  -webkit-transform-origin: 0 50% 0 3d-only 50%;
  transform-origin: 0 50% 0 3d-only 50%;
}
/* line 655, ../scss/modules/_nav.scss */
.cl-effect-20 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: #080b0e;
  content: attr(data-hover);
  -moz-transform: rotateX(270deg);
  -webkit-transform: rotateX(270deg);
  transform: rotateX(270deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -moz-transform-origin: 0 0% 0 3d-only 50%;
  -ms-transform-origin: 0 0% 0 3d-only 50%;
  -webkit-transform-origin: 0 0% 0 3d-only 50%;
  transform-origin: 0 0% 0 3d-only 50%;
  pointer-events: none;
}
/* line 670, ../scss/modules/_nav.scss */
.cl-effect-20 a:hover span, .cl-effect-20 a:focus span {
  background: #080b0e;
}
/* line 673, ../scss/modules/_nav.scss */
.cl-effect-20 a:hover span::before, .cl-effect-20 a:focus span::before {
  -moz-transform: rotateX(10deg);
  -webkit-transform: rotateX(10deg);
  transform: rotateX(10deg);
}

/* line 683, ../scss/modules/_nav.scss */
.sandwich-nav a::before, .sandwich-nav a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffffff;
  content: '';
  opacity: 0;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* line 695, ../scss/modules/_nav.scss */
.sandwich-nav a {
  padding: 10px;
  color: #107360;
  font-weight: 700;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 700, ../scss/modules/_nav.scss */
.sandwich-nav a::before {
  top: 0;
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
/* line 705, ../scss/modules/_nav.scss */
.sandwich-nav a::after {
  bottom: 0;
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
/* line 710, ../scss/modules/_nav.scss */
.sandwich-nav a:hover, .sandwich-nav a:focus {
  color: #ffffff;
}
/* line 712, ../scss/modules/_nav.scss */
.sandwich-nav a:hover::before, .sandwich-nav a:hover::after, .sandwich-nav a:focus::before, .sandwich-nav a:focus::after {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 8, ../scss/modules/_inline-links.scss */
.big-copy {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: "Raleway", Arial, sans-serif;
  overflow: hidden;
  margin-left: 16.66667%;
  margin-right: 16.66667%;
  padding: 6em 0;
}
/* line 15, ../scss/modules/_inline-links.scss */
.big-copy p {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5em;
  line-height: 1.65;
}
/* line 22, ../scss/modules/_inline-links.scss */
.big-copy a {
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  color: #0888F0;
  vertical-align: bottom;
  text-decoration: none;
  white-space: normal;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 32, ../scss/modules/_inline-links.scss */
.big-copy a::before, .big-copy a::after {
  position: absolute;
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Fade in background */
/* line 44, ../scss/modules/_inline-links.scss */
.link-fadeinbg a {
  border-bottom: 1px solid rgba(8, 136, 240, 0.4);
}
/* line 46, ../scss/modules/_inline-links.scss */
.link-fadeinbg a:hover, .link-fadeinbg a:focus {
  color: #077ad7;
  border-color: rgba(8, 136, 240, 0);
  background-color: rgba(8, 136, 240, 0.1);
}

/* Slide up background */
/* line 55, ../scss/modules/_inline-links.scss */
.link-slideup a::before {
  position: absolute;
  background-color: rgba(8, 136, 240, 0.2);
  -moz-transform: translateY(85%);
  -ms-transform: translateY(85%);
  -webkit-transform: translateY(85%);
  transform: translateY(85%);
}
/* line 60, ../scss/modules/_inline-links.scss */
.link-slideup a:hover::before, .link-slideup a:focus::before {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Slide right */
/* line 67, ../scss/modules/_inline-links.scss */
.link-slideright a::before {
  background: rgba(8, 136, 240, 0.2);
  -moz-transform: scaleY(0.618) translateX(-100%);
  -ms-transform: scaleY(0.618) translateX(-100%);
  -webkit-transform: scaleY(0.618) translateX(-100%);
  transform: scaleY(0.618) translateX(-100%);
}
/* line 71, ../scss/modules/_inline-links.scss */
.link-slideright a:hover::before, .link-slideright a:focus::before {
  -moz-transform: scaleY(0.618) translateX(0);
  -ms-transform: scaleY(0.618) translateX(0);
  -webkit-transform: scaleY(0.618) translateX(0);
  transform: scaleY(0.618) translateX(0);
}

/* line 7, ../scss/modules/_portfolio.scss */
.portfolio-grid {
  display: block;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 300;
}
/* line 12, ../scss/modules/_portfolio.scss */
.portfolio-grid figure {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 33.33333%;
  float: left;
  height: 400px;
  background: #05508d;
  cursor: pointer;
}
/* line 20, ../scss/modules/_portfolio.scss */
.portfolio-grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  min-width: 33.33333%;
  opacity: 0.8;
}
/* line 27, ../scss/modules/_portfolio.scss */
.portfolio-grid figure figcaption {
  margin-left: 16.66667%;
  margin-right: 16.66667%;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 36, ../scss/modules/_portfolio.scss */
.portfolio-grid figure figcaption::before, .portfolio-grid figure figcaption::after {
  pointer-events: none;
}
/* line 39, ../scss/modules/_portfolio.scss */
.portfolio-grid figure figcaption h3 {
  font-size: 2em;
  color: #ffffff;
}
/* line 42, ../scss/modules/_portfolio.scss */
.portfolio-grid figure figcaption h3 span {
  font-weight: 800;
  margin-left: -.25em;
}
/* line 47, ../scss/modules/_portfolio.scss */
.portfolio-grid figure figcaption p {
  color: #ffffff;
}
/* line 51, ../scss/modules/_portfolio.scss */
.portfolio-grid figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

/* Individual effects */
/*---------------*/
/***** Lily *****/
/*---------------*/
/* line 68, ../scss/modules/_portfolio.scss */
.effect-lily img {
  max-width: none;
  width: calc(100% + 50px);
  -moz-transition: opacity 0.35s, -moz-transform 0.35s;
  -o-transition: opacity 0.35s, -o-transform 0.35s;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -moz-transform: translate3d(-40px, 0, 0);
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}
/* line 74, ../scss/modules/_portfolio.scss */
.effect-lily figcaption {
  text-align: left;
  height: 100%;
  color: #ffffff;
}
/* line 78, ../scss/modules/_portfolio.scss */
.effect-lily figcaption h3, .effect-lily figcaption p {
  -moz-transform: translate3d(0, 40px, 0);
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
  -moz-transition: opacity 0.4s, -moz-transform 0.35s ease 0.05s;
  -o-transition: opacity 0.4s, -o-transform 0.35s ease 0.05s;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.35s ease;
  -webkit-transition-delay: 0s, 0.05s;
  transition: opacity 0.4s, transform 0.35s ease 0.05s;
}
/* line 82, ../scss/modules/_portfolio.scss */
.effect-lily figcaption p {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 87, ../scss/modules/_portfolio.scss */
.effect-lily:hover img, .effect-lily:hover h3, .effect-lily:hover p {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*
Media Queries
*/
@media screen and (max-width: 69.5em) {
  /* line 99, ../scss/modules/_portfolio.scss */
  .portfolio-grid figure {
    width: 50%;
  }

  /* line 103, ../scss/modules/_portfolio.scss */
  .portfolio-grid figure figcaption {
    font-size: 90%;
  }
}
@media screen and (max-width: 41.5em) {
  /* line 111, ../scss/modules/_portfolio.scss */
  .portfolio-grid figure {
    width: 100%;
  }
}
/* line 3, ../scss/modules/_blog.scss */
.blog-section .blog-item {
  position: relative;
  height: 400px;
  background-color: #0888F0;
  overflow: hidden;
}
/* line 8, ../scss/modules/_blog.scss */
.blog-section .blog-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 17, ../scss/modules/_blog.scss */
.blog-section .blog-item:nth-child(even) {
  background-color: #05508d;
}
/* line 20, ../scss/modules/_blog.scss */
.blog-section .blog-item .blog-caption {
  position: relative;
  box-sizing: content-box;
  top: 60%;
  margin-left: 16.66667%;
  margin-right: 33.33333%;
  color: #ffffff;
  padding-left: 1em;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 29, ../scss/modules/_blog.scss */
.blog-section .blog-item .blog-caption h2 {
  display: block;
}
/* line 33, ../scss/modules/_blog.scss */
.blog-section .blog-item .blog-caption p {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
  -moz-transition: all 0.7s ease-in-out 0.3s;
  -o-transition: all 0.7s ease-in-out 0.3s;
  -webkit-transition: all 0.7s ease-in-out;
  -webkit-transition-delay: 0.3s;
  transition: all 0.7s ease-in-out 0.3s;
}
/* line 39, ../scss/modules/_blog.scss */
.blog-section .blog-item .blog-caption button {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.25em;
  color: #ffffff;
  background: transparent;
  padding: .75em 1.25em;
  margin: .75em 0;
  border: 1px solid #ffffff;
  -moz-transform: translateY(60%);
  -ms-transform: translateY(60%);
  -webkit-transform: translateY(60%);
  transform: translateY(60%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.7s ease-in-out 0.6s;
  -o-transition: all 0.7s ease-in-out 0.6s;
  -webkit-transition: all 0.7s ease-in-out;
  -webkit-transition-delay: 0.6s;
  transition: all 0.7s ease-in-out 0.6s;
}
/* line 50, ../scss/modules/_blog.scss */
.blog-section .blog-item .blog-caption button:hover, .blog-section .blog-item .blog-caption button:focus {
  background: rgba(250, 248, 67, 0.8);
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 59, ../scss/modules/_blog.scss */
.blog-section .blog-item:hover .blog-caption, .blog-section .blog-item:focus .blog-caption {
  top: 20%;
}
/* line 61, ../scss/modules/_blog.scss */
.blog-section .blog-item:hover .blog-caption p, .blog-section .blog-item:hover .blog-caption button, .blog-section .blog-item:focus .blog-caption p, .blog-section .blog-item:focus .blog-caption button {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 66, ../scss/modules/_blog.scss */
.blog-section .blog-item:hover img, .blog-section .blog-item:focus img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  width: 100%;
}

/* line 3, ../scss/modules/_blog2.scss */
.blog-section figure {
  position: relative;
  height: 400px;
  background-color: #0888F0;
  overflow: hidden;
}
/* line 8, ../scss/modules/_blog2.scss */
.blog-section figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 17, ../scss/modules/_blog2.scss */
.blog-section figure figcaption {
  position: relative;
  box-sizing: content-box;
  top: 60%;
  margin-left: 16.66667%;
  margin-right: 33.33333%;
  color: #ffffff;
  padding-left: 1em;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 26, ../scss/modules/_blog2.scss */
.blog-section figure figcaption h3 {
  display: block;
}
/* line 30, ../scss/modules/_blog2.scss */
.blog-section figure figcaption p {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
  -moz-transition: all 0.7s ease-in-out 0.3s;
  -o-transition: all 0.7s ease-in-out 0.3s;
  -webkit-transition: all 0.7s ease-in-out;
  -webkit-transition-delay: 0.3s;
  transition: all 0.7s ease-in-out 0.3s;
}
/* line 36, ../scss/modules/_blog2.scss */
.blog-section figure figcaption button {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.25em;
  color: #ffffff;
  background: transparent;
  padding: .75em 1.25em;
  margin: .75em 0;
  border: 1px solid #ffffff;
  -moz-transform: translateY(60%);
  -ms-transform: translateY(60%);
  -webkit-transform: translateY(60%);
  transform: translateY(60%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.7s ease-in-out 0.6s;
  -o-transition: all 0.7s ease-in-out 0.6s;
  -webkit-transition: all 0.7s ease-in-out;
  -webkit-transition-delay: 0.6s;
  transition: all 0.7s ease-in-out 0.6s;
}
/* line 47, ../scss/modules/_blog2.scss */
.blog-section figure figcaption button:hover, .blog-section figure figcaption button:focus {
  background: rgba(250, 248, 67, 0.8);
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 56, ../scss/modules/_blog2.scss */
.blog-section figure:hover figcaption, .blog-section figure:focus figcaption {
  top: 20%;
}
/* line 58, ../scss/modules/_blog2.scss */
.blog-section figure:hover figcaption p, .blog-section figure:hover figcaption button, .blog-section figure:focus figcaption p, .blog-section figure:focus figcaption button {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 63, ../scss/modules/_blog2.scss */
.blog-section figure:hover img, .blog-section figure:focus img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  width: 100%;
}
