// Pseudo-elements
%pseudos {
  display: block;
  content: ''; 
  position: absolute;
}

// Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Center horizontally and vertically
%center-hv {
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
}

%fill-frame {
  min-width: 100%;
  min-height: 100%;
}

%abs-center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}