// Screen reader text
.srt {
  @include squish-text;
}

* {
  @include box-sizing(border-box);
}

body {
  @include container();
  font-size: $base__font-size;
  font-family: $font-stack--sans;
  color: $copy;
}

section {  
  @extend %clearfix;
  display: block;
  .full {
    @include layout(full nest);
  }
}

.inner {
  margin-left: span(2);
  margin-right: span(2);
}

.padded {
  padding: $less-padding;
}

a {
  font-weight: $font-weight--normal;
  text-decoration: none;
  outline: none;
}

h1 {
  @extend %headline-1;
}
h2 {
  @extend %headline-2;
}
h3 {
  font-weight: $font-weight--light;
  font-size: em(30px);
  line-height: (46px / 42px);
  margin-bottom: em(70px, 42px);
}
h4 {
  font-weight: $font-weight--light;
  font-size: em(24px);
  line-height: (46px / 42px);
  margin-bottom: em(70px, 42px);
}

p {
  line-height: 1.65;
}

button {
  //make a BEM mixin to include here
  //include ghost styles, solid styles and gradient styles using hue adjust
}

.btn {
  @include bg-colors($ui-colors);
}
