$portfolio-background: $black;
$figcaption-color: $white;
$figcaption-color--hover: $white;
$figcaption-color--h: $white;
$figcaption-color--p: $white;
$figcaption-color--icon: $copy;

$default-transition-duration : .35s;


.portfolio-grid {
  font-family: $font-stack--display;
  font-weight: $font-weight--light;
  @include container(100%);
  figure {
    background-color: $portfolio-background;
//    @include span(1 of 3);
    width: span(1 of 3);
    height: 400px;
    float: left;
    position: relative;
    overflow: hidden;    
    cursor: pointer;    
    @include transition;
    img {
      min-height: 100%;
      min-width: 100%;
      max-width: 120%;
      position: relative;
      @include transition;
    }
    figcaption { 
      margin: span(1 of 12);
      width: span(10);
      position: absolute;
      color: $figcaption-color;
      text-transform: uppercase;
      @include backface-visibility(hidden);
      &::before, &::after {
        pointer-events: none;
        content: '';
      }
      > a.view-more {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }
    h3 {        
      font-size: 2em;
      font-weight: 300;
      @include transition;
      strong {
        font-weight: 700;
        margin-left: -.25em;
      }
    }
    p {
      font-weight: 300;
      line-height: 1.2;
      @include transition;
      font-size: 95%;
    }
  }
}

/* Individual effects */

///***** Lily *****////
.sassy-lily {
  img {
    width: calc(100% + 60px);
    @include translate3d(-50px,0,0);
  }
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;   
  }
  h3 {
    @include translate3d(0,.5em,0);
  }
  p {
    margin-top: .25em;
    @include translate3d(0,3em,0);
    @include transparent;
    @include transition(all .35s ease .15s);
  }
  &:hover {
    img {
      opacity: .9;
      @include translate3d(0,0,0);
    }
    h3, p {
      opacity: 1;
      @include translate3d(0,-.5em,0);
    }
  }
}

///***** Sadie *****////
.sassy-sadie {
  @include background-image(linear-gradient($black, $sk-light-gray));
  img {    
    @include opacity(0.8);
    @extend %center-hv;
  }
  figcaption {
    text-align: center;
    bottom: 0;
    @include transition;    
    p {
      color: $figcaption-color--hover;
      @include transparent;
      @include transition;
      margin-top: 20%;
    }
  }  
  &:hover {
    @include background-image(linear-gradient($sk-light-gray, $black));
    img {
      @include opacity(0.4);
    }
    figcaption {
      color: $figcaption-color--hover;
      bottom: 5%;
      &::before, & p {
        @include opaque;
        @include translate3d(0, 0, 0);
      }
    }
  }
}

///***** Honey *****////
.sassy-honey {  
  img {
    @extend %abs-center;
    @include opacity(0.9);
  }
  &::before {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .625em;
    background: $white;
    content: '';
    @include translate3d(0, 1.125em, 0);
    @include transition;
  }
  figcaption {
    left: 0;
    bottom: 0;
    @include transition;    
  }
  h3 {
    position: absolute;
    bottom: .5em;
    i {
      position: relative;
      bottom: 1em;
      margin-left: -.25em;
      @include transition;
      @include transparent;
    }
  }  
  &:hover {
    img {
      @include opacity(0.4);
    }
    &::before {
      @include translate3d(0,0, 0);
    }
    figcaption {
      @include opaque;
      bottom: -1em;
    }
    h3, i {
      bottom: 0;
      @include opaque;
    }
  }
}

///***** Layla *****////
.sassy-layla {
  img {
    position: absolute;
    min-height: 120%;
    bottom: 1em;
    @include translateY(1em);
  }
  figcaption {
    padding: 2.5em;
    @extend %abs-center;
    text-align: center;
    &:before, &:after {
      content: '';      
      position: absolute;
      @include transition;
    }
    &:before {
      top: 2em;
      right: 0;
      bottom: 2em;
      left: 0;
      @include scale(0,1);
      border-top: 1px solid $white;
      border-bottom: 1px solid #fff;      
      @include transform-origin(0, 100%);
    }
    &:after {
      top: 0;
      right: 2em;
      bottom: 0;
      left: 2em;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      @include scale(1,0);
      @include transform-origin(100%, 0);
    }
  }
  h3 {
    margin-top: 15%;
    @include translateY(-.75em);
  }
  p {
    margin: .5em 2em;
    @include translateY(.5em);
    @include transparent;
  }
  &:hover {
    img {
      @include translateY(0);
      @include opacity(.7);
    }
    figcaption {
      &::before, &::after {
        @include scale(1);
        @include opaque;
      }
    }
    h3, p {
      @include opaque;
      @include translateY(0);
    }
  }
}



///***** Zoe *****////  ///***** Should span 100% of img *****////
.sassy-zoe {
  background: $black;
  figcaption {
    position: absolute;
    width: 100% !important;
    margin: 0 !important;
    top: auto;
    bottom: 0;
    padding: 1em 2em;
    height: 4em !important;
    background: $white;
    @include translate3d(0,200%,0);
    @include transition;
  }
  h3 {
    color: $copy;
    float: left;
    display: inline-block;
    @include translate3d(0,200%,0);
  }
  p {
    position: absolute;
    text-align: center;
    bottom: 9em;
    padding: 3em;
    text-transform: none;
    @include transparent;
  }
  ul {
    list-style: none;
    float: right;    
    li {
      color: $copy;
      font-family: 'silencekillsdesign-icons';
      font-size: 1.3em;
      padding: .25em .375em;
      @include transition;
      @include translate3d(0,200%,0);
      display: inline-block;
      speak: none;
    }
  }
  &:hover {
    img {
      opacity: 0.7;
    }
    figcaption {
      @include translate3d(0,0,0);
    }
    h3 {
      @include translate3d(0,0,0);
      @include transition-delay(.05s);
    }
    li {
      @include translate3d(0,0,0);
      &:hover, &:focus  {
        color: $sk-blue;
      }      
      // Iteration to delay transitions.
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) { 
          @include transition-delay(0.1s * $i); 
        }
    }
  } 
  p {
    @include opaque;    
  }       
}
}


///***** Oscar *****////   ///***** Could probably use some clean-up *****////
.sassy-oscar {
  @include background-image(linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%));
  img {
    opacity: .7;
  }
  figcaption{
    text-align: center;
    @extend %abs-center;
    margin: 0 !important;
    padding: span(1 of 12);
    width: 100% !important;
    background: rgba($black, 0.7);
    @include transition;
    &::before {      
      @extend %abs-center;
      border: 1px solid #fff;
      margin: span(1 of 12);
      content: '';
      @include transparent;
      @include transition(all .4s ease-in);
      @include scale(0);
    }
  }
  h3 {
    margin-top: 27%;
  }
  p {
    @include scale(0);
    margin: 1em 2em;
    @include transparent;
    @include transition-delay(.1s);
    @include transform-origin(50% 70%);
  }
  &:hover {
    img {
      @include opacity(.5);
      @include scale(1);
    }
    figcaption {
      background: rgba($black, 0);
      &::before, p {
        @include opaque;
        @include scale(1);
      }    
    }
    h3 {
      margin-top: 20%;
    }
  }
}

///***** Marley *****////
.sassy-marley {
  text-align: right;
  figcaption {
    @extend %abs-center;
    text-align: right;
  }
  h3 {
    position: absolute;
    top: .5em;
    width: 100%;
    &::after {
      position: absolute;
      right: 0;
      margin-top: 4em;
      width: 100%;
      height: .125em;
      display: block;      
      background-color: $white;      
      content: '';
      @include transparent;
      @include transition;
    }
  }
  p {
    position: absolute;
    bottom: -5em;
    @include transparent;
    @include transition(all .25s ease-out);
  }
  &:hover {
    img {
      @include opacity(0.4);
    }
    figcaption {
      @include opaque;
    }
    h3 {
      top: 0;
      &::after {
        margin-top: .125em;
        @include opaque;
      }
    }
    p {
      bottom: 0;
      @include opaque;
    }
  }
}

///***** Ruby *****////
.sassy-ruby {
  img {
    opacity: 0.7;
    @include scale(1.25);
  }
  figcaption{
    text-align: center;
    @extend %abs-center;
  }
  h3 {
    margin-top: 15%;
    @include translate3d(0, 1.125em, 0);
  }
  p {
    position: absolute;
    bottom: 0;
    margin-top: 1.5em;
    padding: 3em 2em;
    border:1px solid white;
    @include transparent;
    @include transform(translate3d(0,1.125em,0) scale(1.1));
  }
  &:hover {
    img {
      @include opacity(.5);
      @include scale(1);
    }
    h3 {
      @include translate3d(0, 0, 0);
    }
    p {
      @include opaque;
      @include transform(translate3d(0,0,0) scale(1));
    }
  }
}

///***** Roxy *****////
.sassy-roxy {
  background: linear-gradient(45deg,$sk-pink,$sk-blue);
  img {
    width: calc(100% + 60px);
    @include translate3d(-50px,0,0);
  }
  figcaption{
    @extend %abs-center;
    h3 {
      margin: 25% 7% .5em;
    }
    p {
      margin-left: 7%;
      margin-right: 7%;
      @include transparent;
      @include translate3d(-1em,0,0);
    }
    &::before {
      @extend %abs-center;
      border: 1px solid #fff;
      content: '';
      opacity: 0;
      @include translate3d(-1.5em,0,0);
      @include transition;
    }
  }
  &:hover {
    img {
      opacity: .7;
      @include translate3d(0,0,0);
    }
    figcaption {
      &::before, p {
        @include opaque;
        @include translate3d(0,0,0);
      }    
    }
  }
}

///***** Bubba *****////
.sassy-bubba {
  background-color: #9e5406;
  img {
    opacity: .7;
  }
  figcaption {
    padding: 2.5em;
    @extend %abs-center;
    text-align: center;
    &:before, &:after {
      content: '';      
      @extend %abs-center;
      @include transition;
    }
    &:before {
      @include scale(0,1);
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;      
    }
    &:after {
      border-right: 1px solid $white;
      border-left: 1px solid $white;
      @include scale(1,0);
    }
  }
  h3 {
    margin-top: 15%;
    @include translateY(-.75em);
  }
  p {
    margin: .5em 2em;
    @include translateY(.5em);
    @include transparent;
  }
  &:hover {
    img {
      @include opacity(.4);
    }
    figcaption {
      &::before, &::after {
        @include scale(1);
        @include opaque;
      }
    }
    h3, p {
      @include opaque;
      @include translateY(0);
    }
  }
}

///***** Romeo *****////
.sassy-romeo {
  @include perspective(1000px);
  img {
    @include translate3d(0,0,300px);
  }
  figcaption {
    @extend %abs-center;
    text-align: center;
    &:before, &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      background-color: $white;
      height: 1px;
      width: 80%;
      @include translate3d(-50%,-50%,0);
      @include transition;
    }
  }
  h3, p {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  h3 {
    top: 15%;
  }
  p {
    bottom: 15%;
    padding: .25em 2em;
  }
  &:hover {
    img {
      @include opacity(.6);
      @include translate3d(0,0,0);
    }
    figcaption {
      &::before {
        @include opacity(.6);
        @include transform(translate3d(-50%,-50%,0) rotate(45deg));
      } 
      &::after {
        @include opacity(.6);
        @include transform(translate3d(-50%,-50%,0) rotate(-45deg));
      }
    }
    h3 {
      top: 25%;
    }
    p {
      bottom: 25%;
    }
  }
}

///***** Dexter *****////
$curious-blue: rgba(37,141,200,1);
$sepia: rgba(104,60,19,1);

.sassy-dexter {
  @include background-image(linear-gradient($curious-blue, $sepia));
  figcaption {
    @extend %abs-center;
    &::after {
      position: absolute;
      right: -1em;
      top: -1em;
      left: -1em;
      height: 50%;
      border: 7px solid $white;
      content: '';
      @include transition;
    }
  }
  p {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    @include translate3d(0,-100px,0);
  }
  &:hover {
    img {
      opacity: 0.4;
    }
    p {
      @include opaque;
      @include translate3d(0,0,0);
    }
    figcaption::after {
      top: 50%;
      bottom: -1em;
    }
  }
}

///***** Sarah *****////
.sassy-sarah {
  img {
    @include opacity(0.8);
  }
  figcaption {
    @extend %abs-center;
    h3 {
      margin-bottom: .5em;
      &::after {
        height: .125em;
        display: block;
        left: 0;
        width: 0%;
        background-color: #fff;
        position: absolute;
        content: '';
        margin-top: .125em;
        @include opacity(.5);
        @include transition;
      }
    }
    p {
      @include translate(125%, 0);
      @include transparent;
      @include transition(all .25s ease-out);
    }
  }
  &:hover {
    img {
      @include opacity(0.4);
    }
    figcaption {
      @include opaque;
      h3 {
        &::after, p {
          width: 100%;
          @include opaque;
        }
      }
      p {
        @include translate(0, 0);
        @include opaque;
      }
    }
  }
}

///***** Chico *****////
.sassy-chico {
  img {
    @include scale(1.125);
  }
  figcaption{
    text-align: center;
    @extend %abs-center;
    h3 {
      margin-top: 20%;
    }
    p {
      margin-left: 22%;
      margin-right: 22%;
      margin-bottom: 5%;
      margin-top: 1em;
      @include transparent;
      @include scale(1.25);
    }
    &::before {
      @extend %abs-center;
      border: 1px solid #fff;
      content: '';
      @include transparent;
      @include transition;
      @include scale(1.25);
    }
  }
  &:hover {
    img {
      @include opacity(.5);
      @include scale(1);
    }
    figcaption {
      &::before, p {
        @include opaque;
        @include scale(1);
      }    
    }
  }
}

///***** Milo *****////
.sassy-milo {
  background: #2e5d5a;
  img {
    max-width: none;
    width: calc(100% + 60px);
    @include transform(translate3d(-30px,0,0) scale(1.12));
  }
  figcaption {
    @extend %abs-center;
  }
  h3 {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  p {
    padding: 0 10px 0 0;
    width: 50%;
    border-right: 1px solid #fff;
    text-align: right;
    opacity: 0;
    @include translate3d(-40px,0,0);
  }
  &:hover {
    img {
      opacity: 0.5;
      @include transform(translate3d(0,0,0) scale(1));
    }
    p {
      opacity: 1;
      @include translate3d(0,0,0);
    }
  }
}

///***** SET 2 *****////

///***** Julia *****////
.sassy-julia {
  background: #2f3238;
  img {
    max-width: none;
    @include transition(opacity 1s, transform 1s);
  }
  figcaption {
    @extend %abs-center;
    text-align: left;
  }
  h3 {
    position: relative;
    margin-bottom: span(.5 of 12);
  }
  p {
    display: inline-block;
    margin: 0 0 0.25em;
    padding: 0.4em 1em;
    background: rgba(255,255,255,0.9);
    color: $copy;
    text-transform: none;
    font-size: 75%;
    @include translate3d(-360px,0,0);
    // Iteration to delay transitions.
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) { 
        @include transition-delay(0.07s * $i); 
      }
  }
}
&:hover {
  p {
    opacity: 1;
    @include translate3d(0,0,0);
    // Iteration to delay transitions.
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) { 
        @include transition-delay(0.07s * $i); 
      }
  }
}
img {
  opacity: 0.4;
  @include scale(1.1);
}
}
}

///***** Goliath *****////   ////****This should probably have a psuedo after the p instead****///
.sassy-goliath {  
  img {
    @include backface-visibility(hidden);
    background: #df4e4e;
  }
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;    
  }
  h3, p {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  p {
    font-size: 90%;
    opacity: 0;
    @include translate3d(0,3em,0);
  }
  &:hover {
    img {
      @include translate3d(0,-30%,0);
    }
    h3 {
      @include translate3d(0,-2em,0);
    }
    p {
      opacity: 1;
      @include translate3d(0,0,0);
    }
  }
}

///***** Hera *****////

///***** Winston *****////
.sassy-winston {
  background: #162633;
  text-align: left;
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    margin: 0 !important;
    padding: span(1 of 12);
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../img/triangle.svg) no-repeat center center;
      background-size: 100% 100%;
      content: '';
      @include transition;
      @include rotate3d(0,0,1,45deg);
      @include transform-origin(0 100% 0);
    }
  } 
  h3 {
    @include translate3d(0,1em,0);
  }
  p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1.5em;
    opacity: 0;
    a {
      @include transition;
      @include translate3d(0,3.5em,0);
      margin: 0 10px;
      color: red !important;
      font-size: 170%;
      // Iteration to delay transitions.
      @for $i from 2 through 3 {
        &:nth-of-type(#{$i}) { 
          @include transition-delay(0.05s * $i); 
        }
    }
      &:hover, &:focus {
        color: blue !important;
        @include transition(all .2s);
      }
    }
  }
  &:hover {
    img {
      opacity: 0.6;
    }
    figcaption::before {
      opacity: 0.7;
      @include rotate3d(0,0,1,20deg);
    }
    h3 {
      @include translate3d(0,0,0);
    }
    p {
      opacity: 1;
    }
    a {
      opacity: 1;
      @include translate3d(0,0,0);
    }
  }
}


///***** Selena *****////  ///***** NEEDS FIXED *****////
.sassy-selena {
  background: $white;
  border: 0em solid $white;
  figcaption {
    @extend %abs-center;
  }
  img {
    opacity: .9;
    @include transform-origin(50% 50% 0);    
  }
  h3 {
    @include translateY(1.125em);
  }
  p {
    @include transparent;
    @include transform(perspective(1000px) rotate3d(1, 0, 0, 90deg));
    @include transform-origin(50% 50% 0); 
  }
  &:hover, &:focus {
    border: .5em solid $white;
    img {
      @include scale3d(.95, .95, 1);
    }
    h3 {
      @include translate3d(0,0,0);
    }
    p {
      @include transform(perspective(1000px) rotate3d(1, 0, 0, 0));
    }
  }
}

///***** Terry *****////   ///***** Completely Fucked *****////  
//@extend-elements
//original selectors
//figure.effect-terry figcaption::before, figure.effect-terry figcaption::after
%terry {
  position: absolute;
  width: 200%;
  height: 200%;
  border-style: solid;
  border-color: #101010;
  content: '';
  @include transition;
}


@media screen and (max-width: 920px) {
  figure.effect-terry h2 {
    padding: 0.75em 10px;
    font-size: 120%;
  }
}
figure.effect-terry {
  background: #34495e;
  &::before {
    @extend %terry;
    right: 0;
    bottom: 0;
    border-width: 0 70px 60px 0;
    @include translate3d(70px,60px,0);
  }
  &::after {
    @extend %terry;
    top: 0;
    left: 0;
    border-width: 15px 0 0 15px;
    @include translate3d(-15px,-15px,0);
  }
  figcaption {
    padding: 1em;
    @extend %abs-center;
  }
  img {
    opacity: 0.85;
  }
  h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.4em 10px;
    width: 50%;
    @include translate3d(100%,0,0);
  }
  &:hover {
    figcaption {
      &::before, &::after {
        @include translate3d(0,0,0);
      }
    }
    img {
      opacity: 0.6;
    }
    h3 {
      @include translate3d(0,0,0);
    }
    p a {
      @include translate3d(0,0,0);
      opacity: 1;
      // Iteration to delay transitions.
      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) { 
          @include transition-delay(0.05s * $i); 
        }
      }
    }
  }
  p a {
    @include transition;
    display: block;
    margin-bottom: 1em;
    color: #fff;
    opacity: 0;
    @include translate3d(90px,0,0);
    &:hover {
      color: #f3cf3f;
    }
    &:focus {
      color: #f3cf3f;
    }
  }
}

///***** Phoebe *****////

///***** Appolo *****////

///***** Kira *****////
.sassy-kira {
  background: $white;
  figcaption {
    @extend %abs-center;
  }
  ul {
    @include transition;
    width: 100%;
    background: rgba($white, 1);
    height: .25em;
    list-style: none;
    li {
      display: inline-block;
      margin: 1.25em .75em;
      @include transition(all .35s ease .3s);        
      a {
        font: 1.5em serif;
        color: $figcaption-color--icon;
        @include transparent;
        @include transition(all .35s ease-out .1s);
        &:hover {
          color: darken($figcaption-color--icon, 20);
          @include opacity(.8);
          @include transition(all .1s ease-in);
        }
      }
    }
  }
  &:hover {
    img {
      opacity: 0.5;
    }    
    ul {
      background: rgba($white, 0.8);
      margin-top: 3em;
      height: 4em;
      a {     
        @include opaque;
      }
    }
  }
}

///***** Steve *****////
.sassy-steve {
  z-index: 1;
  overflow: visible;
  background: $black;
  text-align: center;
  @include transform(perspective(1000px) translate3d(0,0,0em));
  @include box-shadow(0 .125em .625em rgba($black, 0));
  figcaption {
    z-index: 1;
    @extend %abs-center;
  }
  img {
    opacity: 1;
    @include transform(perspective(1000px) translate3d(0,0,0));
  }
  h3 {
    margin-top: 1em;
    z-index: -1;
    width: 100%;
    color: $copy !important;
    background: $white;
    padding: .5em;
    @include transition;
    @include box-shadow(0 1px .625em rgba($black, 0.5));
  }
  p {
    background: $white;
    color: $copy;
    margin-top: 1em;
    padding: 0.5em;
    font-weight: 800;
    opacity: 0;
    @include scale3d(0.9,0.9,1);
    @include box-shadow(0 1px .375em rgba($black, 0.5));
  }
  &:hover {
    @include transform(perspective(1000px) translate3d(0,0,1.25em));
    @include box-shadow(0 .125em .625em rgba($black, 0.8));
    p {
      opacity: 1;
      @include scale3d(1,1,1);
    }
  }
}

///***** Moses *****////
.sassy-moses {
  background: linear-gradient(-45deg, #EC65B7 0,#05E0D8 100%);
  img {
    opacity: 0.85;
  }
  figcaption {
    @extend %abs-center;
  }
  h3, p {
    padding: 20px;
    width: 50%;
    height: 50%;
    border: 2px solid $white;
  }
  h3 {    
    text-align: left;
    @include translate3d(10px,10px,0);
  }
  p {
    float: right;
    text-align: right;
    opacity: 0;
    @include translate3d(-50%,-50%,0);
  }
  &:hover {
    h3, p {
      opacity: 1;
      @include translate3d(0,0,0);
    }
    img {
      opacity: 0.6;
    }
  }
}

///***** Jazz *****////
.sassy-jazz {
  background: linear-gradient(-45deg, #f3cf3f 0,#f33f58 100%);
  img {
    opacity: 0.9;
  }
  figcaption {
    text-align: center;
    @extend %abs-center;
    margin: 0 !important;
    padding: span(1 of 12);
    width: 100% !important;
    @include transition;
  }
  h3 {
    opacity: 1;
    @include scale3d(0.8,0.8,1);
    padding-top: 26%;
  }
  p {
    opacity: 1;
    @include scale3d(0.8,0.8,1);
    padding: 0.5em 2em;
    text-transform: none;
    font-size: 0.85em;
    opacity: 0;
  }
  &:hover {
    img {
      opacity: 0.7;
      @include scale3d(1.05,1.05,1);
    }
    h3, p {
      opacity: 1;
      @include scale3d(1,1,1);
    }
    figcaption::after {
      opacity: 1;
      @include transform(rotate3d(0,0,1,45deg) scale3d(1,1,1));
    }
  }
  figcaption::after {
    @include transition;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    content: '';
    opacity: 0;
    @include transform(rotate3d(0,0,1,45deg) scale3d(1,0,1));
    @include transform-origin(50%,50%,0);
  }
}

///***** Ming *****////
.sassy-ming {
  img {
    @include scale(1.05);
    opacity: .9;
  }
  figcaption {
    text-align: center;
    @extend %abs-center;
    padding: 7%;
    h3 {
      margin-top: 10%;
      @include scale(1);
    }
    p {
      margin-left: 22%;
      margin-right: 22%;
      margin-bottom: 5%;
      margin-top: 2em;
      @include transparent;
      @include scale(1.5);
    }
    &::before {
      @extend %abs-center;
      border: 2px solid #fff;
      content: '';
      @include transparent;
      @include transition;
      @include scale3d(1.4,1.4,1);
      //      @include single-box-shadow(0, 0, 0, 5em, $haze);      
    }
  }
  &:hover {
    background-color: $sk-light-gray;
    img {
      @include opacity(.4);
      @include scale(1);
    }
    figcaption {
      h3 {
        @include scale(.9);
      }
      &::before, p {
        @include opaque;
        @include scale(1);        
      }
      &::before {
        background-color: rgba($black, 0.8);
      }
    }
  }
}

///***** Lexi *****////
.sassy-lexi {
  background: linear-gradient(-45deg, #000 0,#fff 100%);
  img {
    margin: -10px 0 0 -10px;
    max-width: none;
    width: calc(100% + 10px);
    opacity: 0.9;
    @include translate3d(10px,10px,0);
  }
  figcaption {
    text-align: center;
    @extend %abs-center;
    margin: 0 !important;
    padding: span(1 of 12);
    width: 100% !important;
    @include transition;
    &::before {
      position: absolute;
      right: -100px;
      bottom: -100px;
      width: 300px;
      height: 300px;
      border: 2px solid $white;    
      content: '';
      opacity: 0;
      @include transition;
      @include border-radius(50%);
      @include box-shadow(0 0 0 900px rgba(255,255,255,0.2));
      @include scale3d(0.5,0.5,1);
      @include transform-origin(50%,50%,0);
    }
  }
  h3 {
    text-align: left;
    @include translate3d(.25em,.25em,0);
  }
  p {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 1.5em 1.5em 0;
    width: 140px;
    text-align: right;
    opacity: 0;
    @include translate3d(20px,20px,0);
  }
  &:hover {
    img {
      opacity: 0.6;
      @include translate3d(0,0,0);
    }
    h3, p {
      opacity: 1;
      @include translate3d(0,0,0);
    }
    figcaption::before {
      opacity: 1;
      @include scale3d(1,1,1);
    }
  }
}

///***** Duke *****////   ///***** BROKEN *****//// 
.sassy-duke {
  background: linear-gradient(-45deg, #34495e 0,#cc6055 100%);
  figcaption {
    @extend %abs-center;
  }
  h3 {
    @include scale3d(0.8,0.8,1);
    @include transform-origin(50%, 100%, 0);
  }
  p {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid #fff;
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    @include scale3d(0.8,0.8,1);
    @include transform-origin(50%, -100%, 0);
  }
  &:hover {
    img {
      opacity: 0.1;
      @include scale3d(2,2,1);
    }
    h3, p {
      opacity: 1;
      @include scale3d(1,1,1);
    }
  }
}


///***** Additional Styles *****////

///***** Kiri *****////
.sassy-kiri {
  background-color: $white; 
  figcaption {
    @extend %abs-center;
  }
  ul {
    @include transition;
    width: 100%;
    background: rgba($white, 1);
    height: .25em;
    list-style: none;
    li {  
      display: inline-block;
      margin-left: 0;
      margin-top: 1.5em;
      @include transition(all .35s ease .3s);        
      a {          
        @include transparent;
        @include transition(all .35s ease-out .2s);
        &:hover {
          @include opacity(.7);
          @include transition(opacity .1s ease-in);
        }
      }
    }
  }
  &:hover {
    img {
      opacity: 0.5;
    }    
    ul {
      background: rgba($white, 0.8);
      margin-top: 3em;
      height: 4em;
      li {
        margin: 1.25em .75em;
        a {
          font: 1.5em serif;
          color: $sk-blue;
          @include opaque;
        }
      }
    }
  }
}

///***** Kora *****////
.sassy-kora {
  background: $white;
  figcaption {
    @extend %abs-center;
  }
  ul {
    @include transition;
    width: 100%;
    background: rgba($white, 1);
    height: .25em;
    list-style: none;
    @include rotateX(-360deg);
    li {
      display: inline-block;
      margin: 1.25em .75em;
      @include transform-origin(0 0);
      @include rotateX(270deg);
      @include transition(all .35s ease 0);
      a {
        font: 1.5em serif;
        color: $figcaption-color--icon;
        @include transparent;        
        @include transition(all .4s ease-in-out);
        &:hover {
          color: darken($figcaption-color--icon, 20);
          @include rotateX(360deg);
          @include opacity(.8);
          @include transition(all .3s ease-in-out);
        }
      }
    }
  }
  &:hover {
    img {
      opacity: 0.5;
    }    
    ul {
      @include rotateX(0deg);
      background: rgba($white, 0.8);
      margin-top: 3em;
      height: 4em;  
      li {
        @include rotateX(0deg);
        @include transition(all .35s ease .3s);
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) { 
            @include transition-delay(0.15s * $i); 
          }
        }
      }
      a {        
        @include opaque;
      }
    }
  }
}

/*
Media Queries
*/

@media screen and (max-width: 1280px) {
  .portfolio-grid {
    font-size: 85%;
    figure {
      height: 350px;
    }
  }
}

@media screen and (max-width: 71em) {
  .portfolio-grid figure {
    @include span(1.5 of 3);
  }

  .portfolio-grid figure figcaption {
    font-size: 90%;
  }
}

@media screen and (max-width: 41.5em) {
  .portfolio-grid figure {
    width: span(3 of 3);
    height: 350px;
  }
}