$porfolio-background: $sk-blue;
$figcaption-color: $copy;
$figcaption-color--hover: $white;
$figcaption-color--h: $copy;
$figcaption-color--p: $copy;


.portfolio-grid {
  @include layout(full no-gutters nest);
  display: block;
  background: darken($porfolio-background, 20);
  font-family: $font-stack--display;
  font-weight: $font-weight--light;
  figure {
    position: relative;
    z-index: 1;
    overflow: hidden;
    @include span(4 of 12 no-gutters);
    height: 400px;
    cursor: pointer;
    img {
      position: relative;
      display: block;
      min-height: 100%;
      min-width: 100%;
    }
    figcaption {
      margin-left: span(1 of 12);
      margin-right: span(1 of 12);
      width: span(10 at 1);   
      position: absolute;
      text-transform: uppercase;
      @include backface-visibility(hidden);
      &::before, &::after {
        pointer-events: none;
      }
      & h3 {
        font-size: 2em;
        span {
          font-weight: 800;
          margin-left: -.25em;
        }
      }
    }
    a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0;
    }
  }
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

.effect-lily {
  img {
    max-width: 110%;
    width: calc(100% + 50px);
    @include transition(opacity 0.35s, transform .35s);
    @include translate3d(-40px,0,0);
  }
  figcaption {
    text-align: left;
    color: $white;
    bottom: 0;
    left: 0;
    height: 35%;
    h3, p {
      @include translate3d(0,40px,0);
      @include transition(opacity 0.4s, transform .35s ease .05s);
    }
    p {
      @include transparent;
    }
  }
  &:hover {
    img, h3, p {
      @include opaque;
      @include translate3d(0,0,0);
    }
  }
}

///*---------------*/
///***** Sadie *****/
///*---------------*/
.effect-sadie {
  img {
    @include opacity(0.8);
    @extend %center-hv;
  }
  figcaption {
    width: 100%;
    color: $figcaption-color;
    text-align: center;
    bottom: 0;
    @include transition;    
    background-size: cover;
    p {
      color: $figcaption-color--hover;
      @include transparent;
      @include transition;
      margin-top: 20%;
    }
  }  
  &:hover {
    @include background-image(linear-gradient($sk-light-gray, $black));
    img {
      @include opacity(0.4);
    }
    figcaption {
      color: $figcaption-color--hover;
      bottom: 5%;
      &::before, & p {
        @include opaque;
        @include translate3d(0, 0, 0);
      }
    }
  }
}
















/*
Media Queries
*/

@media screen and (max-width: 69.5em) {
  .portfolio-grid figure {
    width: 50%;
  }

  .portfolio-grid figure figcaption {
    font-size: 90%;
  }
}


@media screen and (max-width: 41.5em) {

  .portfolio-grid figure {
    width: 100%;
  }
}


//////////////CODE FROM DESKTOP

//$porfolio-background: $sk-blue;
//$figcaption-color: $white;
//$figcaption-color--h: $white;
//$figcaption-color--p: $white;
//
//
//.portfolio-grid {
//  @include layout(full no-gutter)
//    figure {
//      position: relative;
//      z-index: 1;
//      overflow: hidden;
//      @include span(4 of 12 no-gutter);
//      height: 400px;
//      background: darken($porfolio-background, 20);
//      cursor: pointer;
//      img {
//        position: relative;
//        display: block;
//        min-height: 100%;
//        min-width: 100%;
//        opacity: 0.8;
//      }
//      figcaption {
//        @include font-smoothing(on);
//        font-weight: 300;
//        font-size: 1em;
//        position: absolute;
//        color: $figcaption-color;
//        text-transform: uppercase;
//        width: 100%;
//        @include backface-visibility(hidden);
//        &::before, &::after {
//          pointer-events: none;
//        }
//        h3 {
//          text-transform: uppercase;
//          font-size: 2.25em;
//          color: $figcaption-color--h;
//          span {
//            font-weight: 800;
//            margin-left: -.225em;
//          }
//        }
//        p {
//          color: $figcaption-color--p;
//        }
//      }
//      a {
//        position: absolute;
//        top: 0;
//        left: 0;
//        z-index: 1000;
//        text-indent: 200%;
//        white-space: nowrap;
//        font-size: 0;
//        @include transparent;
//      }
//    }
//}
//
///* Individual effects */
//
///*---------------*/
///***** Lily *****/
///*---------------*/
//
//.effect-lily {
//  img {
//    max-width: none;
//    width: calc(100% + 50px);
//    @include transition(opacity 0.35s, transform .35s);
//    @include translate3d(-40px,0,0);
//  }
//  figcaption {
//    text-align: left;
//    padding: 2em;
//    width: 100%;
//    height: 50%;
//    color: $white;
//    h3, p {
//      @include translate3d(0,40px,0);
//      @include transition(opacity 0.4s, transform .35s ease .05s);
//    }
//    p {
//      @include transparent;
//    }
//  }
//  &:hover {
//    img, h3, p {
//      @include opaque;
//      @include translate3d(0,0,0);
//    }
//  }
//}
//
///*---------------*/
///***** Sadie *****/
///*---------------*/
//
//.effect-sadie {
//  figcaption{
//    h3 {
//      display: block;
//      z-index: 10000;
//      top: 50%;
//      color: $white;
//      @include translate3d(0,40px,0);
//      @include transition(opacity 0.4s, transform .35s ease .05s);
//    }
//    p {
//      @inclue transparent;
//      @include translate3d(0,40px,0);
//      @include transition(opacity 0.4s, transform .35s ease .05s);
//    }
//    &:hover {
//      img, h3, p {
//        @include opaque;
//        @include translate3d(0,0,0);
//      }
//    }
//  }
//}
//
///*
//Media Queries
//*/
//
//@media screen and (max-width: 69.5em) {
//  .portfolio-grid figure {
//    width: 50%;
//  }
//
//  .portfolio-grid figure figcaption {
//    font-size: 90%;
//  }
//}
//
//
//@media screen and (max-width: 41.5em) {
//
//  .portfolio-grid figure {
//    width: 100%;
//  }
//}






//
//$porfolio-background: $sk-blue;
//$figcaption-color: $white;
//$figcaption-color--h: $white;
//$figcaption-color--p: $white;
//
//
//.portfolio-grid {
//  @include layout(full no-gutters nest);
//  figure {
//    position: relative;
//    z-index: 1;
//    overflow: hidden;
//    @include span(1 of 3 no-gutters);
//    height: 400px;
//    background: darken($porfolio-background, 20);
//    cursor: pointer;
//    img {
//      position: relative;
//      display: block;
//      min-height: 100%;
//      opacity: 0.8;
//    }
//    figcaption {
//      @include font-smoothing(on);
//      font-weight: 300;
//      font-size: 1em;
//      position: absolute;
//      top: 0;
//      left: 0;
//      width: 100%;
//      height: 100%;
//      padding: 5%;
//      color: $figcaption-color;
//      text-transform: uppercase;
//      @include backface-visibility(hidden);
//      &::before, &::after {
//        pointer-events: none;
//      }
//      h3 {
//        font-size: 2em;
//        color: $figcaption-color--h;
//        span {
//          font-weight: 800;
//          margin-left: -.185em;
//        }
//      }
//      p {
//        color: $figcaption-color--p;
//      }
//    }
//    a {
//      z-index: 1000;
//      text-indent: 200%;
//      white-space: nowrap;
//      font-size: 0;
//      opacity: 0;
//    }
//  }
//}
//
///* Individual effects */
//
///*---------------*/
///***** Lily *****/
///*---------------*/
//
//.effect-lily {
//    img {
//      max-width: none;
//      width: calc(100% + 50px);
//      @include transition(opacity 0.35s, transform .35s);
//      @include translate3d(-40px,0,0);
//    }
//    figcaption {
//      text-align: left;
//      position: absolute;
//      padding: 2em;
//      width: 100%;
//      height: 50%;
//      color: $white;
//      h3, p {
//        @include translate3d(0,40px,0);
//        @include transition(opacity 0.4s, transform .35s ease .05s);
//      }
//      p {
//        @include transparent;
//      }
//    }
//    &:hover {
//      img, h3, p {
//        @include opaque;
//        @include translate3d(0,0,0);
//      }
//    }
//  }
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
///*
//Media Queries
//*/
//
//@media screen and (max-width: 69.5em) {
//  .portfolio-grid figure {
//    width: 50%;
//  }
//
//  .portfolio-grid figure figcaption {
//    font-size: 90%;
//  }
//}
//
//
//@media screen and (max-width: 41.5em) {
//
//  .portfolio-grid figure {
//    width: 100%;
//  }
//}
