$portfolio-background: $black;
$figcaption-color: $white;
$figcaption-color--hover: $white;
$figcaption-color--h: $white;
$figcaption-color--p: $white;

$default-transition-duration : .35s;


.portfolio-grid {
  font-family: $font-stack--display;
  font-weight: $font-weight--light;
  figure {
    background-color: $portfolio-background;
    @include span(4 of 12 no-gutters);
    height: 400px;
    position: relative;
    overflow: hidden;    
    cursor: pointer;    
    @include transition;
    img {
      min-height: 100%;
      min-width: 100%;
      max-width: 120%;
      position: relative;
      display: block;
      @include transition;
    }
    figcaption { 
      margin-left: span(span 1 of 12);
      margin-right: span(span 1 of 12);
      width: span(10 of 12);
      margin-top: 8%;
      margin-bottom: 8%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: $figcaption-color;
      text-transform: uppercase;
      @include backface-visibility(hidden);
      &::before, &::after {
        pointer-events: none;
      }
      h3 {        
        font-size: 2em;
        font-weight: 300;
        @include transition;
        strong {
          font-weight: 700;
          margin-left: -.25em;
        }
      }
      p {
        font-weight: 300;
        line-height: 1.2;
        @include transition;
        font-size: 95%;
      }
    }
    & a {
      @include squish-text;
//      z-index: 1000;
//      text-indent: 200%;
//      white-space: nowrap;
//      font-size: 0;
//      opacity: 0;
    }
  }
}

/* Individual effects */

///***** Lily *****////
.sassy-lily {
  img {
    max-width: none;
    width: calc(100% + 50px);
    opacity: .7;
    @include translate3d(-2.5em,0,0);
  }
  figcaption {
    text-align: left;
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    height: 50%;
    h3 {
      @include translate3d(0,2.25em,0);
    }
    p {
      margin-top: .25em;
      @include translate3d(0,2.25em,0);
      opacity: 0;
      @include transition(all .35s ease .15s);
    }
  }
  &:hover {
    img, h3, p {
      opacity: 1;
      @include translate3d(0,0,0);
    }
  }
}


///***** Sadie *****////
.sassy-sadie {
  @include background-image(linear-gradient($black, $sk-light-gray));
  img {
    @include opacity(0.8);
    @extend %center-hv;
  }
  figcaption {
    color: $copy;
    text-align: center;
    bottom: -1em;
    @include transition;    
    p {
      color: $figcaption-color--hover;
      @include transparent;
      @include transition;
      margin-top: 20%;
    }
  }  
  &:hover {
    @include background-image(linear-gradient($sk-light-gray, $black));
    img {
      @include opacity(0.4);
    }
    figcaption {
      color: $figcaption-color--hover;
      bottom: 5%;
      &::before, & p {
        @include opaque;
        @include translate3d(0, 0, 0);
      }
    }
  }
}

///***** Sarah *****////
.sassy-sarah {
  img {
    @include opacity(0.8);
  }
  figcaption {
    @include transition;
    color: $white;
    h3 {
      margin-bottom: .5em;
      &::after {
        height: .125em;
        display: block;
        left: 0;
        width: 0%;
        background-color: #fff;
        position: absolute;
        content: '';
        margin-top: .125em;
        @include opacity(.5);
        @include transition;
      }
    }
    p {
      @include translate(125%, 0);
      @include transparent;
      @include transition(all .25s ease-out);
    }
  }
  &:hover {
    img {
      @include opacity(0.4);
    }
    figcaption {
      h3 {
        &::after {
          width: 100%;
          @include opaque;
        }
      }
      p {
        @include translate(0, 0);
        @include opaque;
      }
    }
  }
}

///***** Roxy *****////
.sassy-roxy {
  background: linear-gradient(45deg,#ff89e9 0,#05abe0 100%);
  img {
    width: calc(100% + 60px);
    @include translate3d(-50px,0,0);
  }
  figcaption{
    h3 {
      margin-top: 25%;
      margin-left: 7%;
    }
    p {
      margin-left: 7%;
      margin-right: 7%;
      margin-bottom: 5%;
      @include transparent;
      @include translate3d(-1em,0,0);
    }
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid #fff;
      content: '';
      opacity: 0;
      @include translate3d(-20px,0,0);
      @include transition;
    }
  }
  &:hover {
    img {
      opacity: .7;
      @include translate3d(0,0,0);
    }
    figcaption {
      &::before, p {
        @include opaque;
        @include translate3d(0,0,0);
      }    
    }
  }
}

///***** Chico *****////
.sassy-chico {
  img {
    @include scale(1.125);
  }
  figcaption{
    text-align: center;
    h3 {
      margin-top: 20%;
    }
    p {
      margin-left: 22%;
      margin-right: 22%;
      margin-bottom: 5%;
      margin-top: 2em;
      @include transparent;
      @include scale(1.25);
    }
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid #fff;
      content: '';
      @include transparent;
      @include transition;
      @include scale(1.25);
    }
  }
  &:hover {
    img {
      @include opacity(.5);
      @include scale(1);
    }
    figcaption {
      &::before, p {
        @include opaque;
        @include scale(1);
      }    
    }
  }
}

///***** Dexter *****////
$curious-blue: rgba(37,141,200,1);
$sepia: rgba(104,60,19,1);

.sassy-dexter {
  @include background-image(linear-gradient($curious-blue, $sepia));
  h3 {
    margin-top: 11%;
    margin-left: 7%;
  }
  p {
    position: absolute;
    bottom: 2em;
    margin: 0 7%;
    opacity: 0;
    @include translate3d(0,-100px,0);
  }
  figcaption::after {
    position: absolute;
    bottom: 3em;
    height: calc(50% - 2em);
    width: 100%;
    border: 7px solid $white;
    content: '';
    @include transition;
    @include translate3d(0,-100%,0);
  }
  &:hover {
    img {
      opacity: 0.4;
    }
    p {
      @include opaque;
      @include translate3d(0,40%,0);
    }
    figcaption::after {
      @include translate3d(0,30%,0);
      bottom: 2em;
    }
  }
}

///***** Ruby *****////
.sassy-ruby {
  img {
    opacity: 0.7;
    @include scale(1.25);
  }
  figcaption{
    text-align: center;
    h3 {
      margin-top: 20%;
      @include translate3d(0, 1.125em, 0);
    }
    p {
      margin-bottom: 5%;
      margin-top: 2em;
      padding: 3em;
      border:1px solid white;
      @include transparent;
      @include transform(translate3d(0,1.125em,0) scale(1.1));
    }
  }
  &:hover {
    img {
      @include opacity(.5);
      @include scale(1);
    }
    figcaption {
      h3 {
        @include translate3d(0, 0, 0);
      }
      p {
        @include opaque;
        @include transform(translate3d(0,0,0) scale(1));
      }
    }
  }
}

///***** Ming *****////
.sassy-ming {
  img {
    @include scale(1.05);
    opacity: .9;
  }
  figcaption{
    text-align: center;
    h3 {
      margin-top: 20%;
      @include scale(1);
    }
    p {
      margin-left: 22%;
      margin-right: 22%;
      margin-bottom: 5%;
      margin-top: 2em;
      @include transparent;
      @include scale(1.5);
    }
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 2px solid #fff;
      content: '';
      @include transparent;
      @include transition;
      @include scale3d(1.4,1.4,1);
      //      @include single-box-shadow(0, 0, 0, 5em, $haze);      
    }
  }
  &:hover {
    background-color: $sk-light-gray;
    img {
      @include opacity(.4);
      @include scale(1);
    }
    figcaption {
      h3 {
        @include scale(.9);
      }
      &::before, p {
        @include opaque;
        @include scale(1);        
      }
      &::before {
        background-color: rgba($black, 0.8);
      }
    }
  }
}

///***** Kira *****////
.sassy-kira {
  background: $white;
  figcaption {
    z-index: 1;    
    ul {
      @include transition;
      border-top: .125em solid $white;
      margin-top: 0;
      width: 100%;
      background: $white;
      height: .125em;
      list-style: none;
      li {
        font: 1.25em serif;        
        display: inline-block;
        margin: -1em;
        @include transition(all .35s ease .3s);
        a {
          font: 1em serif;
          text-shadow: none;
          @include transparent;
          @include transition(all .35s ease .3s);
        }
      }
    }
  }
  &:hover {
    img {
      opacity: 0.5;
    }
    p {
      opacity: 1;
      //      @include translate3d(0,0,0);
      &::before {
        height: 4em;
        top: 25%;
        opacity: 0.7;
        //      @include scale3d(1,1,1);
      }      
    }
    
    ul {
      border-top: .25em solid $white;
      margin-top: 3em;
      height: 4em;
      li {
        margin: 1em;
        a {
          color: $sk-blue;
          @include opaque;
        }
      }
    }
    
  }
}





  /*
  Media Queries
  */

  @media screen and (max-width: 69.5em) {
    .portfolio-grid figure {
      width: 50%;
    }

    .portfolio-grid figure figcaption {
      font-size: 90%;
    }
  }

  @media screen and (max-width: 41.5em) {
    .portfolio-grid figure {
      width: 100%;
      height: 350px;
    }
  }


  //////////////CODE FROM DESKTOP

  //$porfolio-background: $sk-blue;
  //$figcaption-color: $white;
  //$figcaption-color--h: $white;
  //$figcaption-color--p: $white;
  //
  //
  //.portfolio-grid {
  //  @include layout(full no-gutter)
  //    figure {
  //      position: relative;
  //      z-index: 1;
  //      overflow: hidden;
  //      @include span(4 of 12 no-gutter);
  //      height: 400px;
  //      background: darken($porfolio-background, 20);
  //      cursor: pointer;
  //      img {
  //        position: relative;
  //        display: block;
  //        min-height: 100%;
  //        min-width: 100%;
  //        opacity: 0.8;
  //      }
  //      figcaption {
  //        @include font-smoothing(on);
  //        font-weight: 300;
  //        font-size: 1em;
  //        position: absolute;
  //        color: $figcaption-color;
  //        text-transform: uppercase;
  //        width: 100%;
  //        @include backface-visibility(hidden);
  //        &::before, &::after {
  //          pointer-events: none;
  //        }
  //        h3 {
  //          text-transform: uppercase;
  //          font-size: 2.25em;
  //          color: $figcaption-color--h;
  //          span {
  //            font-weight: 800;
  //            margin-left: -.225em;
  //          }
  //        }
  //        p {
  //          color: $figcaption-color--p;
  //        }
  //      }
  //      a {
  //        position: absolute;
  //        top: 0;
  //        left: 0;
  //        z-index: 1000;
  //        text-indent: 200%;
  //        white-space: nowrap;
  //        font-size: 0;
  //        @include transparent;
  //      }
  //    }
  //}
  //
  ///* Individual effects */
  //
  ///*---------------*/
  ///***** Lily *****/
  ///*---------------*/
  //
  //.effect-lily {
  //  img {
  //    max-width: none;
  //    width: calc(100% + 50px);
  //    @include transition(opacity 0.35s, transform .35s);
  //    @include translate3d(-40px,0,0);
  //  }
  //  figcaption {
  //    text-align: left;
  //    padding: 2em;
  //    width: 100%;
  //    height: 50%;
  //    color: $white;
  //    h3, p {
  //      @include translate3d(0,40px,0);
  //      @include transition(opacity 0.4s, transform .35s ease .05s);
  //    }
  //    p {
  //      @include transparent;
  //    }
  //  }
  //  &:hover {
  //    img, h3, p {
  //      @include opaque;
  //      @include translate3d(0,0,0);
  //    }
  //  }
  //}
  //
  ///*---------------*/
  ///***** Sadie *****/
  ///*---------------*/
  //
  //.effect-sadie {
  //  figcaption{
  //    h3 {
  //      display: block;
  //      z-index: 10000;
  //      top: 50%;
  //      color: $white;
  //      @include translate3d(0,40px,0);
  //      @include transition(opacity 0.4s, transform .35s ease .05s);
  //    }
  //    p {
  //      @inclue transparent;
  //      @include translate3d(0,40px,0);
  //      @include transition(opacity 0.4s, transform .35s ease .05s);
  //    }
  //    &:hover {
  //      img, h3, p {
  //        @include opaque;
  //        @include translate3d(0,0,0);
  //      }
  //    }
  //  }
  //}
  //
  ///*
  //Media Queries
  //*/
  //
  //@media screen and (max-width: 69.5em) {
  //  .portfolio-grid figure {
  //    width: 50%;
  //  }
  //
  //  .portfolio-grid figure figcaption {
  //    font-size: 90%;
  //  }
  //}
  //
  //
  //@media screen and (max-width: 41.5em) {
  //
  //  .portfolio-grid figure {
  //    width: 100%;
  //  }
  //}






  //
  //$porfolio-background: $sk-blue;
  //$figcaption-color: $white;
  //$figcaption-color--h: $white;
  //$figcaption-color--p: $white;
  //
  //
  //.portfolio-grid {
  //  @include layout(full no-gutters nest);
  //  figure {
  //    position: relative;
  //    z-index: 1;
  //    overflow: hidden;
  //    @include span(1 of 3 no-gutters);
  //    height: 400px;
  //    background: darken($porfolio-background, 20);
  //    cursor: pointer;
  //    img {
  //      position: relative;
  //      display: block;
  //      min-height: 100%;
  //      opacity: 0.8;
  //    }
  //    figcaption {
  //      @include font-smoothing(on);
  //      font-weight: 300;
  //      font-size: 1em;
  //      position: absolute;
  //      top: 0;
  //      left: 0;
  //      width: 100%;
  //      height: 100%;
  //      padding: 5%;
  //      color: $figcaption-color;
  //      text-transform: uppercase;
  //      @include backface-visibility(hidden);
  //      &::before, &::after {
  //        pointer-events: none;
  //      }
  //      h3 {
  //        font-size: 2em;
  //        color: $figcaption-color--h;
  //        span {
  //          font-weight: 800;
  //          margin-left: -.185em;
  //        }
  //      }
  //      p {
  //        color: $figcaption-color--p;
  //      }
  //    }
  //    a {
  //      z-index: 1000;
  //      text-indent: 200%;
  //      white-space: nowrap;
  //      font-size: 0;
  //      opacity: 0;
  //    }
  //  }
  //}
  //
  ///* Individual effects */
  //
  ///*---------------*/
  ///***** Lily *****/
  ///*---------------*/
  //
  //.effect-lily {
  //    img {
  //      max-width: none;
  //      width: calc(100% + 50px);
  //      @include transition(opacity 0.35s, transform .35s);
  //      @include translate3d(-40px,0,0);
  //    }
  //    figcaption {
  //      text-align: left;
  //      position: absolute;
  //      padding: 2em;
  //      width: 100%;
  //      height: 50%;
  //      color: $white;
  //      h3, p {
  //        @include translate3d(0,40px,0);
  //        @include transition(opacity 0.4s, transform .35s ease .05s);
  //      }
  //      p {
  //        @include transparent;
  //      }
  //    }
  //    &:hover {
  //      img, h3, p {
  //        @include opaque;
  //        @include translate3d(0,0,0);
  //      }
  //    }
  //  }
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  //
  ///*
  //Media Queries
  //*/
  //
  //@media screen and (max-width: 69.5em) {
  //  .portfolio-grid figure {
  //    width: 50%;
  //  }
  //
  //  .portfolio-grid figure figcaption {
  //    font-size: 90%;
  //  }
  //}
  //
  //
  //@media screen and (max-width: 41.5em) {
  //
  //  .portfolio-grid figure {
  //    width: 100%;
  //  }
  //}